@media only screen and (max-width: 600px) {

    .contact-logos {
        flex-wrap:wrap;
    }
    .listing{
       width:350px;
       margin: 10px;
    }
  }
  
@media only screen and (max-width: 322px) {
    .first-weber-logo {
        width: 0;
        height: 0;
    }
    #fw-logo {
        position: relative;
        top: 30px;
        right: 25px;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
}

.team-photo {
    max-width: 100%;
    height: auto;
}
.photo {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
p {
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.sell-smarter-body > ul li {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.contacts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: 'Quicksand', sans-serif;
    border-bottom-style: dotted;
    border-color: lightgray;
    border-width: 1px;
    background-color: white;
    font-size: 16px;
    z-index: 1;
}
.sewart-real-estate-group-contacts{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10px;
    margin-bottom: 5px;
    min-width: 295px;
}
.first-weber-logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50%;
    margin-right: 10px;
}
.contacts > .email {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.contacts > .logo {
    margin-right: 10px;
    margin-top: 5px;
}
.logo {
    height: 25px;
}
a {
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    border-bottom-style: solid;
    border-color: lightgray;
    background-color: white;
    font-size: 16px;
}
.social-channels{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 10px;
    min-width: 295px;
}
.instagram {
    margin-right: 10px;
    margin-left: 10px;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.instagram:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.facebook {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.facebook:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.scroll-up {
    margin-left: 10px;
    width: 140px;
    text-align: left;
}
.footer > a {
    text-decoration: none;
}
.footer > a:hover {
    color: lightgrey;
}

.navwrapper {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 41px;
    background-color: white;
    z-index: 1;
}
.navlinks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Quicksand', sans-serif;
}
.north-shore-homes-for-sale {
    border: dotted 1px lightgrey;
    border-left: none;
    border-bottom: none;
    margin: 5px;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.north-shore-homes-for-sale:hover {
    color: lightgrey;
}
.blog{
    border: dotted 1px lightgrey;
    border-left: none;
    border-bottom: none;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.blog:hover {
    color: lightgrey;
}
.sell-your-home {
    border: dotted 1px lightgrey;
    border-left: none;
    border-bottom: none;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.sell-your-home:hover {
    color: lightgrey;
}
.reviews {
    border: dotted 1px lightgrey;
    border-left: none;
    border-bottom: none;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.reviews:hover {
    color: lightgrey;
}
.featured-listings{
    border: dotted 1px lightgrey;
    border-left: none;
    border-bottom: none;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.featured-listings:hover {
    color: lightgrey;
}
.buttonlink {
    text-decoration: none;
}


.wrapper{
    display: flex;
    flex-direction: column;
}


.header {
    margin-top: 50px;
    font-size: large;
    font-family: 'Quicksand', sans-serif;
    font-size: 48px;
    display: flex;
    justify-content: center;
}
.subheader{
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-bottom: 15px; 
}
.photo{
    width: 100%;
    height: auto;
}
.section-divider{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.sell-smarter-body {
    max-width: 740px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: auto;
    margin-right: auto;
}

.team{
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.name {
    font-weight: bold;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.title {
    font-weight: bold;
    opacity: 0.75;
    filter: alpha(opacity=75);
}
.lead-member{
    max-width: 740px;
    margin: 10px;
}
.contact-logos{
    display: flex;
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
    margin-top: 10px;
}
.phone {
    margin-right: 20px;
}
.contact-logo{
    display: inline;
    height: 10px;
}
.team-member{
    max-width: 350px;
    min-width: 300px;
    margin: 10px;
}

.headshot > img{
    float: left;
    max-height: 200px;
    margin-right: 15px;
}
.name{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}
.title{
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    margin-bottom: 10px;
}
.bio{
}


.listings{
    max-width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
.listing{
    max-width: 740px;
    margin: 10px;
}
.listing-img-container{
    max-width: 400px;
    margin-right: 10px;
    margin-bottom: 9px;
}
.listing-img{
    max-width: 100%;
    float: left;
    margin-bottom: 10px;
    margin-right: 15px;
}
.listing-neighborhood{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}
.listing-specs{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    margin-top: 5px;
}
.listing-price{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    margin-top: 5px;
}
.listing-address{
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    margin-bottom: 15px;
}
.listing-description{
    text-align: justify;
    margin-bottom: 15px;
}
.listing-links {
    font-family: 'Quicksand', sans-serif;
    font-size: small;
}

html{
    scroll-behavior: smooth;
}





